@charset "UTF-8"
// centers items
.centers
	display: flex

	+center(center, center)

//font size for small print like the post dates
.small
	font-size: .75rem

.grad-orange
	background: linear-gradient(135deg, #fad961 0%,$orange10 100%)
