/**
 *  Javascript modules
 */
.aright
  text-align: right
  font-size: 1.7rem

.name
  margin-bottom: 1rem


.balance
  font-weight: 800
  text-decoration: underline
  margin-right: 1rem
  font-size: 1.5rem

.withdraw
  padding: 5px 5px
  border-radius: 5px
  border: 1px 1px 2px gray
  text-decoration: underline


.deposit
  @extend .withdraw

.bottom-in
  margin-bottom: 1rem
  //background-color: $french-lilac
  flex: 1

.bottom-out
  background-color: $conch
  margin-bottom: 1rem
  flex: 1

#displayMov
  display: flex
  flex-direction: row

.movements__type--Deposit
  background-image: linear-gradient(to top left, #39b385, #9be15d)

.movements__type--Withdrawal
  background-image: linear-gradient(to top left, #e52a5a, #ff585f)

.movements__type
  font-size: 1.1rem
  text-transform: uppercase
  font-weight: 500
  color: #fff
  padding: 0.1rem 1rem
  border-radius: 10rem
  margin-right: 2rem

.movements__value
  font-size: 1.2rem
  margin-left: auto
  //text-align: right

.movements-in
  padding: .25rem
  display: flex
  flex-direction: columns
  align-items: center
  border-bottom: 1px solid #eee