@charset "UTF-8";
fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  -webkit-transition: border-color 150ms ease;
  -o-transition: border-color 150ms ease;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #b1b1b1; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #1565c0;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(21, 101, 192, 0.7);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(21, 101, 192, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #ddd; }
  [type='color']::-webkit-input-placeholder, [type='date']::-webkit-input-placeholder, [type='datetime']::-webkit-input-placeholder, [type='datetime-local']::-webkit-input-placeholder, [type='email']::-webkit-input-placeholder, [type='month']::-webkit-input-placeholder, [type='number']::-webkit-input-placeholder, [type='password']::-webkit-input-placeholder, [type='search']::-webkit-input-placeholder, [type='tel']::-webkit-input-placeholder, [type='text']::-webkit-input-placeholder, [type='time']::-webkit-input-placeholder, [type='url']::-webkit-input-placeholder, [type='week']::-webkit-input-placeholder, input:not([type])::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #858585; }
  [type='color']:-ms-input-placeholder, [type='date']:-ms-input-placeholder, [type='datetime']:-ms-input-placeholder, [type='datetime-local']:-ms-input-placeholder, [type='email']:-ms-input-placeholder, [type='month']:-ms-input-placeholder, [type='number']:-ms-input-placeholder, [type='password']:-ms-input-placeholder, [type='search']:-ms-input-placeholder, [type='tel']:-ms-input-placeholder, [type='text']:-ms-input-placeholder, [type='time']:-ms-input-placeholder, [type='url']:-ms-input-placeholder, [type='week']:-ms-input-placeholder, input:not([type]):-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #858585; }
  [type='color']::-ms-input-placeholder, [type='date']::-ms-input-placeholder, [type='datetime']::-ms-input-placeholder, [type='datetime-local']::-ms-input-placeholder, [type='email']::-ms-input-placeholder, [type='month']::-ms-input-placeholder, [type='number']::-ms-input-placeholder, [type='password']::-ms-input-placeholder, [type='search']::-ms-input-placeholder, [type='tel']::-ms-input-placeholder, [type='text']::-ms-input-placeholder, [type='time']::-ms-input-placeholder, [type='url']::-ms-input-placeholder, [type='week']::-ms-input-placeholder, input:not([type])::-ms-input-placeholder, textarea::-ms-input-placeholder {
    color: #858585; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #858585; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: 3px solid rgba(21, 101, 192, 0.6);
  outline-offset: 2px; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html,
body {
  height: 100%;
  margin: 0; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 1.5em 0;
  table-layout: fixed;
  text-align: left;
  width: 100%; }

thead {
  line-height: 1.2;
  vertical-align: bottom; }

tbody {
  vertical-align: top; }

tr {
  border-bottom: 1px solid #ddd; }

th {
  font-weight: 600; }

th,
td {
  padding: 0.75em 0.75em 0.75em 0; }

html {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: calc(18px + 0.25vw);
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

a {
  color: #495057;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;
  -webkit-transition: color 150ms ease;
  -o-transition: color 150ms ease;
  transition: color 150ms ease; }
  a:hover {
    color: #5c7cfa; }
  a:focus {
    outline: 3px solid rgba(21, 101, 192, 0.6);
    outline-offset: 2px; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

/* 2 basics */
body {
  background-image: url("../images/eggshell.jpg");
  min-height: 100vh;
  padding: 0;
  background-blend-mode: soft-light;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #333;
  vertical-align: baseline; }

/* For mobile phones: */
.container {
  width: 99%;
  margin: auto;
  overflow: hidden; }

.columns {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -.5rem;
  margin-left: -.5rem; }

.is-1 {
  width: 100%;
  margin: +0.5em 0em 0em +0.5em;
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.is-2 {
  width: 100%;
  margin: +0.5em 0em 0em +0.5em;
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.is-3 {
  width: 100%;
  margin: +0.5em 0em 0em +0.5em;
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.is-4 {
  width: 100%;
  margin: +0.5em 0em 0em +0.5em;
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.is-5 {
  width: 100%;
  margin: +0.5em 0em 0em +0.5em;
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.is-6 {
  width: 100%;
  margin: +0.5em 0em 0em +0.5em;
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.is-7 {
  width: 100%;
  margin: +0.5em 0em 0em +0.5em;
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.is-8 {
  width: 100%;
  margin: +0.5em 0em 0em +0.5em;
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.is-9 {
  width: 100%;
  margin: +0.5em 0em 0em +0.5em;
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.is-10 {
  width: 100%;
  margin: +0.5em 0em 0em +0.5em;
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.is-11 {
  width: 100%;
  margin: +0.5em 0em 0em +0.5em;
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.is-12 {
  width: 100%;
  margin: +0.5em 0em 0em +0.5em;
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

/* For Tablets: */
@media only screen and (min-width: 48em) {
  .container {
    width: 99%;
    margin: auto; }

  .columns {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -.5rem;
    margin-left: -.5rem; }

  .is-1 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex-preferred-size: 7.75%;
    flex-basis: 7.75%;
    max-width: 7.75%;
    margin: +0.5rem 0rem 0rem +0.25rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }

  .is-2 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex-preferred-size: 16%;
    flex-basis: 16%;
    max-width: 16%;
    margin: +0.5rem 0rem 0rem +0.25rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }

  .is-3 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex-preferred-size: 24.25%;
    flex-basis: 24.25%;
    max-width: 24.25%;
    margin: +0.5rem 0rem 0rem +0.25rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }

  .is-4 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex-preferred-size: 32.5%;
    flex-basis: 32.5%;
    max-width: 32.5%;
    margin: +0.5rem 0rem 0rem +0.25rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }

  .is-5 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex-preferred-size: 40.75%;
    flex-basis: 40.75%;
    max-width: 40.75%;
    margin: +0.5rem 0rem 0rem +0.25rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }

  .is-6 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex-preferred-size: 49%;
    flex-basis: 49%;
    max-width: 49%;
    margin: +0.5rem 0rem 0rem +0.25rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }

  .is-7 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex-preferred-size: 57.25%;
    flex-basis: 57.25%;
    max-width: 57.25%;
    margin: +0.5rem 0rem 0rem +0.25rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }

  .is-8 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex-preferred-size: 65.5%;
    flex-basis: 65.5%;
    max-width: 65.5%;
    margin: +0.5rem 0rem 0rem +0.25rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }

  .is-9 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex-preferred-size: 73.75%;
    flex-basis: 73.75%;
    max-width: 73.75%;
    margin: +0.5rem 0rem 0rem +0.25rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }

  .is-10 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex-preferred-size: 82%;
    flex-basis: 82%;
    max-width: 82%;
    margin: +0.5rem 0rem 0rem +0.25rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }

  .is-11 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex-preferred-size: 90.25%;
    flex-basis: 90.25%;
    max-width: 90.25%;
    margin: +0.5rem 0rem 0rem +0.25rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }

  .is-12 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex-preferred-size: 98.5%;
    flex-basis: 98.5%;
    max-width: 98.5%;
    margin: +0.5rem 0rem 0rem +0.25rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem; } }
/* For Desktops: */
@media only screen and (min-width: 68.75em) {
  .container {
    width: 99%;
    margin: auto; }

  .columns {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -.5rem;
    margin-left: -.5rem; }

  .is-1 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex-preferred-size: 7.75%;
    flex-basis: 7.75%;
    max-width: 7.75%;
    margin: +0.5rem 0rem 0rem +0.5rem;
    padding-right: 1rem;
    padding-left: 1rem; }

  .is-2 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex-preferred-size: 16%;
    flex-basis: 16%;
    max-width: 16%;
    margin: +0.5rem 0rem 0rem +0.5rem;
    padding-right: 1rem;
    padding-left: 1rem; }

  .is-3 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex-preferred-size: 24.25%;
    flex-basis: 24.25%;
    max-width: 24.25%;
    margin: +0.5rem 0rem 0rem +0.5rem;
    padding-right: 1rem;
    padding-left: 1rem; }

  .is-4 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex-preferred-size: 32.5%;
    flex-basis: 32.5%;
    max-width: 32.5%;
    margin: +0.5rem 0rem 0rem +0.5rem;
    padding-right: 1rem;
    padding-left: 1rem; }

  .is-5 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex-preferred-size: 40.75%;
    flex-basis: 40.75%;
    max-width: 40.75%;
    margin: +0.5rem 0rem 0rem +0.5rem;
    padding-right: 1rem;
    padding-left: 1rem; }

  .is-6 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex-preferred-size: 49%;
    flex-basis: 49%;
    max-width: 49%;
    margin: +0.5rem 0rem 0rem +0.5rem;
    padding-right: 1rem;
    padding-left: 1rem; }

  .is-7 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex-preferred-size: 57.25%;
    flex-basis: 57.25%;
    max-width: 57.25%;
    margin: +0.5rem 0rem 0rem +0.5rem;
    padding-right: 1rem;
    padding-left: 1rem; }

  .is-8 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex-preferred-size: 65.5%;
    flex-basis: 65.5%;
    max-width: 65.5%;
    margin: +0.5rem 0rem 0rem +0.5rem;
    padding-right: 1rem;
    padding-left: 1rem; }

  .is-9 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex-preferred-size: 73.75%;
    flex-basis: 73.75%;
    max-width: 73.75%;
    margin: +0.5rem 0rem 0rem +0.5rem;
    padding-right: 1rem;
    padding-left: 1rem; }

  .is-10 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex-preferred-size: 82%;
    flex-basis: 82%;
    max-width: 82%;
    margin: +0.5rem 0rem 0rem +0.5rem;
    padding-right: 1rem;
    padding-left: 1rem; }

  .is-11 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex-preferred-size: 90.25%;
    flex-basis: 90.25%;
    max-width: 90.25%;
    margin: +0.5rem 0rem 0rem +0.5rem;
    padding-right: 1rem;
    padding-left: 1rem; }

  .is-12 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex-preferred-size: 98.5%;
    flex-basis: 98.5%;
    max-width: 98.5%;
    margin: +0.5rem 0rem 0rem +0.5rem;
    padding-right: 1rem;
    padding-left: 1rem; } }
/* Alignment: */
.start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start; }

.center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end; }

h1 {
  font-size: 12vw;
  margin-bottom: 0.3em; }

h2 {
  font-size: 6vw;
  margin-bottom: 0.3em; }

p {
  margin: 5px;
  font-family: "Verdana", "Geneva", sans-serif; }

.inline-link {
  display: inline; }
  .inline-link a {
    padding: 3px 10px 3px 0; }

.inline-link:before,
.bottom-footer:before {
  font-family: "FontAwesome";
  content: ""; }

/* 3 modules */
.inline-name {
  padding: 3px 8px;
  display: inline; }

[class^="is"] {
  border-bottom: 1px dotted #adb5bd;
  border-right: 1px solid #adb5bd;
  min-height: 5rem; }

.centers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.link2 {
  margin-left: 10px; }

.emp {
  text-decoration: underline;
  font-style: italic; }

.content {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3); }

.basement {
  background: #ff9933;
  border-radius: 10px; }

.fixed {
  display: fixed; }

/* 4 layout */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }



/*# sourceMappingURL=main.css.map */