@charset "UTF-8"

//no classes or ID's

body
  height: 100vh
  padding: 0
  margin: 0
  background-color: $Jap-painted-Flowers-1-hex
  background-blend-mode: soft-light
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  line-height: $base-line-height
  text-rendering: optimizeLegibility
  -webkit-transition: all 300ms ease
  transition: all 300ms ease
  color: $Jap-painted-Flowers-2-hex
  vertical-align: baseline


::selection
  background: $indigo3

::-moz-selection
  background: $indigo3

img::selection
  background: transparent

img::-moz-selection
  background: transparent

body
  -webkit-tap-highlight-color: $indigo3
