h1
	font-size: px-to-rem($h1-font-size)
	margin-bottom: .3em
	font-family: dulcelin

h2
	font-size: px-to-rem($h2-font-size)
	margin-bottom: .3em

h3
	font-size: px-to-rem($h3-font-size)
	text-shadow: 1px 1px 2px $milano-red
	font-stretch: 125%
	font-weight: 800
	letter-spacing: 2px
	color: $gen2

h4
	font-size: px-to-rem($h4-font-size)
	margin: 5px 0
	color: $eggs
	font-family: $font-stack-garamond

h5
	font-size: px-to-rem($h5-font-size)

h6
	font-size: 1rem

p
	margin: 3px 0
	font-family: $font-stack-verdana
	padding-top: 8px

p:nth-of-type(1)::first-letter
	font-size: 1.5rem
	color: $Jap-painted-Flowers-5-hex
	font-weight: 700
	text-shadow: 1px 1px 1px $Jap-painted-Flowers-1-hex


select
	width: 20%

blockquote
	border-left: 2px solid $gray7
	margin: 1rem 2rem
	padding-left: 10px

img
	width: 100%
	height: 100%
	object-fit: fill

hr
	display: block
	height: 1px
	//border: 0
	border-top: 1px solid #ccc
	margin: 1em 0
	padding: 0
	color: $green6

span
	color: $gen7
