@charset "UTF-8"

a
	color: $Jap-painted-Flowers-1-hex
	text-decoration: none
	font-weight: var(--font-weight)
	&:visited
		color: $Jap-painted-Flowers-5-hex
	&:hover
		color: yellow
		border-bottom: var(--bottom)
	&:active
		color: $Jap-painted-Flowers-4-hex

.current
	background: $bg100
