@charset "UTF-8"

a
	color: $green11
	text-decoration-skip-ink: auto
	text-decoration-skip: ink
	transition: all $base-duration $base-timing

	&:visited
		color: $indigo55

	&:hover
		color: $indigo5

	&:focus
		outline: $focus-outline
		outline-offset: $focus-outline-offset

