<!-- @format -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><?php=$title;?></title>
  <style>
    #feed {
      column-count: 5;
      column-gap: 1rem;
      column-rule-color: black;
      column-rule-width: 2px;
      column-rule-style: double;
    }
    img {
      padding-left: 5px;
      vertical-align: baseline;
    }
  </style>
</head>
</html>
	<body>
		<button onclick="showCountries()">Show countries</button>
    <div id="feed">

    </div>

	</body>
	<script src="<?php echo base_url('assets/js/js.js');?>"></script>
</html>
